.header{
    border:2px red solid;
}

.content-one{
    border:2px red solid;
}

.content-two{
    border:2px red solid;
}

.content-three{
    border:2px red solid;
}

.footer{
    border:2px red solid;
}